<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150994299276-skroaf5s6vgol692vnlafvq9n9meoik2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150994299276-skroaf5s6vgol692vnlafvq9n9meoik2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150994299276-9nkhlpo1cnbkra7bps42pogrf5u3vqvg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAoYQ2iYDu49ilZySESVrWkvkcTzhtPcoA</string>
	<key>GCM_SENDER_ID</key>
	<string>150994299276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-network-newsfeed-app</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-newsfeed-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150994299276:ios:d2e7ab4168d44adc840ea9</string>
</dict>
</plist>